.reservation-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-size: 25px;
  color: #1976d2;
}
.basic-reservation {
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}
